/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Reem Kufi';
    width: 100%;
    height: 900px;
}

main {
    width: 100%;
    height: 1800px;
    margin: 0px;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
}

header img {
    position: relative;
    float: left;
    width: 160px;
    height: 80px;
    margin-left: 15%;
}

header nav {
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 25px;
}

header nav a {
    position: relative;
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: #0f0;
}

#principal {
    position: relative;
    background: none;
    background-image: url(imagens/fundo_castelos&ruinas2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    width: 100%;
    height: 900px;
    padding-top: 250px;
}

#texto_principal {
    position: relative;
    margin: 50px;
    margin-left: 30%;
}

.texto_principal {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}

#texto_secundario {
    position: relative;
    font-style: italic;
    margin: 50px;
    margin-left: 40%;
    font-size: 25px;
    color: #fff;
    opacity: 0.5;
}

#vamosla {
    position: relative;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    background-color: #0f0;
    color: #fff;
    font-weight: bold;
    margin: 100px;
    margin-left: 45%;
}

#vamosla:hover {
    background-color: #000;
    border: #0f0 solid 1px;
    color: #0f0;
    transition: 1s;
}

#divisao1 {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #b0b0b0;
}